/* Paleta de colores  */
$color-primary: rgb(27,57,106);
$color-secondary: rgb(112, 112, 112);
$color-success: hsl(108, 73%, 47%);
$color-info: rgb(85, 179, 216);
$color-warning: #ffe26f;
$color-danger: rgb(202, 0, 0);
$color-light: rgb(248, 249, 250);
$color-dark: rgb(33, 37, 41);
/* Paleta de colores para usar como gradiante */
$color-primary-2: rgb(20, 44, 82);
$color-secondary-2: rgb(87, 87, 87);
$color-success-2: rgb(59, 184, 28);
$color-info-2: rgb(75, 158, 191);
$color-warning-2: rgb(230, 204, 101);
$color-danger-2: rgb(176, 0, 0);
$color-light-2: rgb(221, 222, 223);
$color-dark-2: rgb(41, 46, 51);
/* medidas */
$img-size: 68px;
/* sidbar */
$sidbar-width: 300px;
$sidbar-width-collapsed: 50px;
$sidbar-padding: 10px;