/* Paleta de colores  */
/* Paleta de colores para usar como gradiante */
/* medidas */
/* sidbar */
*,
::after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contenedor {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

.loader-container {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
  border-top-color: #0A9444;
  border-left-color: #0A9444;
  border-radius: 50%;
  animation: loader 1.4s linear infinite;
}

.loader-container .loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: solid 4px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;
}

.loader-container .img-load {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  animation: loader 1.8s step-end infinite;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
body {
  font-family: Montserrat;
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-left: var(--width-collapsed);
  transition: ease 0.3s;
}

.redes {
  color: #fff;
}

.redes:hover {
  color: #87c0f5;
}

.btn-block {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.file .titulo {
  color: #000;
}

.file {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 90px;
  height: 110px;
  background-color: #eee;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px #1a71a9;
}

.btn_foto {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file:hover {
  background-color: #ccc;
}

.thumb {
  height: 110px;
  width: 90px;
  border: 1px solid #1a71a9;
  border-bottom: 2px solid #1a71a9;
  margin: 10px 5px 0 0;
}

.neumorph {
  background: #f8f9fa;
  box-shadow: 20px 20px 60px #abacad, -20px -20px 60px #ffffff;
}

.card-pricing {
    border-radius: 75px 0;
    background: #f8f9fa;
    box-shadow: 2px 2px 7px #abacad, -1px -1px 7px #abacad;
  }
  .card-pricing:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 7px #abacad, -2px -2px 7px #abacad;
  }

.neumorph-card {
  border-radius: 75px 0;
  background: #f8f9fa;
  box-shadow: 5px 5px 21px #abacad, -5px -5px 21px #ffffff;
}

.custom-shadow {
  -webkit-box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.35);
}

span.input-group-text {
  background-color: #f8f9fa;
}

div.input-group > input, select.form-select {
  border-left: 0;
}

.bg-header {
  background: #1b396a;
  background: linear-gradient(0deg, #1b396a 0%, #1b396a 30%, #142c52 70%, #142c52 100%);
}
.bg-header .img-educacion {
  height: 68px;
}
.bg-header .img-tecnm {
  height: 68px;
}
.bg-header .img-itma {
  height: 61.2px;
}

:root {
  --width: 300px;
  --padding: 10px;
  --bgcolor: #1b396a;
  --hovercolor: rgb(255, 255, 255, 0.3);
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ffff;
  margin-bottom: 0;
}

.titulo {
  font-size: smaller;
}

.btn-user {
  font-size: 12px;
}

.body-expanded {
  margin-left: var(--width);
}

#sidemenu {
  background: #142c52;
  background: linear-gradient(0deg, #142c52 0%, #1b396a 30%, #1b396a 70%, #142c52 100%);
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  transition: ease 0.3s;
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
}

#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #profile {
  padding: var(--padding) 0;
  /* text-align: center; */
}

#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: var(--padding);
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
  width: 60%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 18px;
  padding: var(--padding) 0;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: var(--width);
}

#sidemenu #menu-items .item .ico {
  display: inline-block;
}

#sidemenu #menu-items .item .ico,
#sidemenu #menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item a {
  display: block;
}

#sidemenu #menu-items .item a:hover {
  background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .ico {
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--width-collapsed);
}

#sidemenu #menu-items .item .ico img {
  width: 100%;
}

#sidemenu #menu-items .item .title {
  padding: var(--padding) 0;
}

.menu-expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}

.menu-expanded #header #title span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
  /*display: inline-block;*/
}

.menu-expanded #profile #photo {
  width: 50%;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: var(--width-collapsed);
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

@media (max-width: 970px) {
  .break_size::placeholder {
    font-size: 15px;
  }

  option {
    font-size: 14px;
  }

  .selector {
    font-size: 15px;
    grid-column: 2;
    grid-row: 4;
  }
}
@media (max-width: 767px) {
  .break_size::placeholder {
    font-size: 20px;
  }

  option {
    font-size: 16px;
  }

  .selector {
    font-size: 16px;
  }
}
.bg-footer {
  background: #142c52;
  background: linear-gradient(0deg, #142c52 0%, #142c52 30%, #1b396a 70%, #1b396a 100%);
}



.btn-cancelar {
  position: relative;
  overflow: hidden;
}

.boton-emergente {
  visibility: visible;
  opacity: 100;
  position: absolute;
  bottom: 0;
  padding: 20px;
  margin-left: 62px;
}

.btn-img {
  background-color: #ca0000;
  color: #fff;
  width: 17px;
  height: 17px;
  border-color: none;
  border-radius: 50%;
}

.btn-img:hover {
  background-color: #7c0a0a;
  color: #fff;
  width: 17px;
  height: 17px;
  border-color: none;
  border-radius: 50%;


/*# sourceMappingURL=styles.css.map */
